<div class="container jumbotron">
    <h3>Edir Your Record</h3>
    <form action="" class="form-group form-inline">
        <label for="id">Id</label>
        <input type="text" class="form-control" ng-model="editId"/>
        <label for="name">Name</label>
        <input type="text" class="form-control" ng-model="editName" />
        <label for="address">Address</label>
        <input type="text" class="form-control" ng-model="editAddress"/>
        <button class="btn btn-primary" ng-click="updateRecord()">Update</button>
    </form>
</div>