<div class="container">
    <form action="" class="jumbotron form-inline">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" ng-model="id" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" ng-model="address" class="form-control"/>
        </div>
        <input type="submit" value="submit" class="btn btn-primary" ng-click="add()"/>
    </form>
    <!--edit-->

    <table class="table jumbotron">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="data in datas">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.address}}</td>
            <th><a href="#/edit/{{data.id}}" class="btn btn-primary">Edit</a>
                <a href="#/delete/{{data.id}}" class="btn btn-danger" ng-click="delete()">Delete</a></th>
        </tr>
    </table>
</div>